<div class="modal fadeIn" id="modalConfirmDelete" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modalConfirmDeleteDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmDeleteLongTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modalConfirmDeleteBody">
                

            </div>
            <div class="row modal-footer" id="modalImageFooter">
                <div class="col">
                    <button type="button" style="width: 100%" id="confirmDelete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>