<div class="single-wrapper">
    <div class="single-inner">
        <div class="container">
            <div class="error-message-holder">
                <h2>404</h2>
                <h4>Ooops, Page not found!</h4>
                <p>The page you are looking for either has moved or doesn't exists in this server.Try hitting <a href="/">Home</a>
                </p>
                <div class="error_page_search">
                    <!--form role="search" method="get" id="search-form" class="search-form" action="">
                        <div class="input-group stylish-input-group">
                            <input type="text" name="s" id="s" class="form-control" value=""
                                placeholder="Start Typing ....">
                            <span class="input-group-addon">
                                <button type="submit" id="searchsubmit" value="Search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form-->
                </div>
            </div>
            <!-- // error-message-holder -->
        </div>
        <!-- // container -->
    </div>
    <!-- // single_inner -->
</div>