<div class="container">
    <div class="row">
        <div class="col">
            <h1>Current Price Agreement</h1>
        </div>
    </div>
    <div class="table table-hover">
        <table class="table table-hover" id="VendorTable">
            <thead>
                <tr>
                    <th scope="col">Part Number</th>
                    <th scope="col">Starting Date</th>
                    <th scope="col">Ending Date</th>
                    <th scope="col">Base Price</th>
                    <th scope="col">Surcharge</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Unit of Measure</th>
                    <th scope="col">Price Status</th>
                    <!--th scope="col">Comments</th-->
                </tr>
            </thead>
            <tbody id="itemsVendorTableBody">

            </tbody>
        </table>
    </div>
</div>