<div class="container">
    <div class="data-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Vendor Info</th>
                    <th scope="col">Vendor Email</th>
                    <th scope="col">Download File</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody id="priceTable">
    
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-4" id="emptyData">
               
            </div>
            </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="paginationjs" id="pagination-container">
            </div>

        </div>
    </div>
</div>