<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
    <label for="validationCustom04" class="form-label">Part Number</label>
    <select class="form-select" id="partNumber" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid Part Number.
    </div>
    <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Starting Date</label>
    <input type="text" class="form-control" id="startingDate" required>
    <div class="invalid-feedback">
      Please provide a starting Date.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom03" class="form-label">Ending Date</label>
    <input type="text" class="form-control" id="endingDate" required>
    <div class="invalid-feedback">
      Please provide a ending Date
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom01" class="form-label">Base Price</label>
    <input type="text" class="form-control" id="basePrice" required>
    <div class="invalid-feedback">
      Please provide a base price
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom02" class="form-label">SurCharge</label>
    <input type="text" class="form-control" id="surchargePrice">
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Currency</label>
    <select class="form-select" id="currency" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid currency.
    </div>
    <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Unit of Measure</label>
    <select class="form-select" id="unitMeasure" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid unit of Measure.
    </div>
 

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submitt Price</button>
  </div>
</form>